
.knowledge{
	 
	span,p{
		color: $grey-2;
		font-size: 20px;
		letter-spacing: 0.1px;
		margin-bottom: 13px;
	} 

	h2{
		color:$grey-3;
		font-size: 40px;
		font-weight:600;
	}

	.image {
		max-width: 110%;
		height: 300px;
		margin-top: -75px;
    	margin-left: -45px;
	}
}

