.training-layout {
    max-width: 91%;
    margin: 0 auto 0 100px;
    width: 100%;
    display: flex;
    flex: 1;

    @include media-breakpoint-up(xl) {
        max-width: 86%;
        margin: 0 auto 0 140px;
    }

    @include media-breakpoint-down(lg) {
        margin: 0 auto 0 100px;
    }

     @include media-breakpoint-down(sm) {
        margin: 0 auto 0 0px;
        max-width: 100%;
        display: block;
    }

    @include media-breakpoint-down(xs) {
        margin: 0 auto 0 0px;
        max-width: 100%;
        display: block;
    }

     @include media-breakpoint-down(sm) {
        margin: 0 auto 0 0px;
        max-width: 100%;
        display: block;
    }

    @include media-breakpoint-down(xs) {
        margin: 0 auto 0 0px;
        max-width: 100%;
        display: block;
    }

    .layout-side {
        flex: 1;
        @include media-breakpoint-down(sm) {
            display: block;
        }
    }
}

.page-content{
    margin-bottom: 150px;

    @include media-breakpoint-down(sm) {
        margin-bottom: 50px;
    }
}

.page-container{
    @include media-breakpoint-down(sm) {
        padding: 50px;
    }

    @include media-breakpoint-down(xs) {
        padding: 20px;
    }
}